*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*conta o elemento a partir da borda da caixa*/
}

body {
  /*background-image: url('http://www.vanessametonini.com.br/imersaocss/a1/img/fundo.jpg');*/
  background-color: darkgrey;
  background-size: auto 100vh; 
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  font-size: 10px;
}

/*se a tela tiver pelo menos 440px vai carrega estes estilos*/
@media (min-width: 400px) {
  body{
    font-size: 12px;
  }
}

/*breakpoint*/
@media (min-width: 600px) {
  body{
    font-size: 18px;
  }
}

header{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.menu {
  background-color:white;
  position: fixed; /*deixa o menu fixo na tela(menu sempre amostra)*/
  width: 100vw;
  top: 0;
 
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
 list-style: none; 
}

.menu a{
  /*area do menu maior*/
 display: block;
  /*afata o conteúdo de texto das bordas do elemento*/
  padding: 20px 20px; 
  transition: backgrod-color 1s, color 1s;
}
.menu a:hover{
  text-decoration: none;/*tira o underline*/
  background-color: violet;
  color: white;/*troca cor quando o mause passa*/
}

a {
  color:black;
  text-decoration: none;
}
/*quando passado o mouse fica em forma de link*/
a:hover {
  text-decoration: underline;
}

.titulo{
  transform: scale(0.2) translate(50vh);
}

.site-subtitle, 
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title{
  font-size: 4em;
  font-family: 'Lateef', cursive;
}

.site-subtitle {
 font-style: italic;
 font-family: 'Lateef', cursive;
}

.contato, .portifolio{
  padding: 2em;
  min-height: 100vh; /*pelo menos essa altura*/
  text-align: center;
}

.contato h2, .portifolio h2{
  font-family: 'Source Code Pro', monospace;
  padding: 2em;
  margin-bottom: 1.5em;/*caixa" para o lado*/
  font-size: 2em;
}

.portifolio .grid{
  display: grid; /*grid determino a quantidade de coluna/ flex ele que determina o numero e a posição das colunas*/
  gap: 9em;/*espeçamento da coluna ou linha*/ 
}

/*condicao para ficar em duas colunas dependendo da tela*/
@media (min-width: 560px){
  .portifolio .grid{ 
  grid-template-columns: 240px 240px; /*largira de cada coluna(3 colunas)*/
  }    
}

@media (min-width: 880px){
  .portifolio .grid{   
  grid-template-columns: repeat(3, 260px); /*largira de cada coluna(3 colunas)*/
  align-items: center;
  justify-content: center;/*deixa o conteudo centralizado*/
  height: calc(100vh - 8em - 48px);
  }    
}

.portifolio figure{
  text-align: center;
}

.img-portfolio{
  width: 280px;
  height: 240px;
  object-fit: cover; /*resolve problema da imagem distorcisa*/
  object-position: left bottom;
  border-radius: 10px; /*arredondar bordas*/ 
}

.img-portfolio:hover{
   transform: scale(1.2) /*quando o mouse passa por cima da imagem ela aumenta rotete rotate(45deg); rodaciona a imagem*/
}

@media (min-width: 1200px){
  .img-portfolio{    
    height:auto;
    width: 100%;
  }
}


.contato a {
  color: whitesmoke;
  font-size: 3em;    
}
.contato a:active,
.contato a:hover{
  text-decoration: none;/*nome desabilita*/
  text-shadow: 0px 0px 10px whitesmoke ;/*coloca uma sombra no elemento*/
}



